DISCORD_TOKEN=your_token_here
GEMINI_API_KEY=your_key_here
SUM_BOT_NUM =your_bot_number_here
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_REGION=eu-west-2
S3_BUCKET=your_s3_bucket_name_here
AWS_REGION=your_aws_region_here